<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit Appointment</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="dark" size="large" (click)="closeModal(false)">
        <ion-icon slot="icon-only" size="large" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-card>
    <ion-card-header color="success">
      <ion-card-title>Update Appointment</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onClickUpdate()" padding-right [formGroup]="appointmentEditForm">
        <ion-item>
          <ion-label position="floating" color="medium">Summary <ion-icon name="list-box"></ion-icon>
          </ion-label>
          <ion-textarea type="text" formControlName="summary" class="form-controll" required></ion-textarea>
        </ion-item>
        <div *ngIf="appointmentEditForm.controls.summary.errors && submited" class="has-error">
          <div *ngIf="appointmentEditForm.controls.summary.errors.required">
            <p>Please enter valid summary.</p>
          </div>
          <div *ngIf="appointmentEditForm.controls.summary.errors.maxlength">
            <p>Maxlength of summary should be lessthan 255.</p>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating" color="medium">Location <ion-icon name="pin"></ion-icon>
          </ion-label>
          <ion-textarea type="text" formControlName="location" class="form-controll" required></ion-textarea>
        </ion-item>
        <div *ngIf="appointmentEditForm.controls.location.errors && submited" class="has-error">
          <div *ngIf="appointmentEditForm.controls.location.errors.required">
            <p>Please enter valid location.</p>
          </div>
          <div *ngIf="appointmentEditForm.controls.location.errors.maxlength">
            <p>Maxlength of location should be lessthan 255.</p>
          </div>
        </div>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating" color="medium">Start Date <ion-icon name="calendar"></ion-icon>
              </ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" formControlName="startDate"
                (ionChange)="startDateChanged($event)"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating" color="medium">End Date <ion-icon name="calendar"></ion-icon>
              </ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" [min]="maxDate" [disabled]="!appointmentEditForm.value.startDate"
                formControlName="endDate"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <div *ngIf="appointmentEditForm.controls.startDate.errors && submited" class="has-error">
          <div *ngIf="appointmentEditForm.controls.startDate.errors.required">
            <p>Please enter valid start date.</p>
          </div>
        </div>
        <div *ngIf="appointmentEditForm.controls.endDate.errors && submited" class="has-error">
          <div *ngIf="appointmentEditForm.controls.endDate.errors.required">
            <p>Please enter valid end date.</p>
          </div>
        </div>
        <ion-button color="light" type="button" (click)="closeModal()">Cancel</ion-button>
        <ion-button color="success" type="submit">Update</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>