<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Calendar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="today()" color="dark">Today</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <!-- Move back one screen of the slides -->
    <ion-col size="2" class="on-text-left margin-top">
      <ion-button fill="clear" (click)="back()" color="success">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="8" class="ion-text-center">
      <h2> {{ monthTitle }}</h2>
    </ion-col>
    <!-- Move forward one screen of the slides -->
    <ion-col size="2" class="on-text-right" class="margin-top">
      <ion-button fill="clear" (click)="next()" color="success">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar [eventSource]="eventSource" [monthviewEventDetailTemplate]="template" [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate" (onEventSelected)="onEventSelected($event)" noEventsLabel="No Appointment"
    (onTitleChanged)="onViewTitleChanged($event)" step="30">
  </calendar>

  <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate"
    let-noEventsLabel="noEventsLabel">
    <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
      <ion-card *ngFor="let event of selectedDate?.events">
        <ion-card-header color="success" class="ion-no-padding">
          <ion-row>
            <ion-col size="7" (click)="onEventSelected(event)" class="ion-text-left">
              <ion-card-title>{{event.title}}</ion-card-title>
            </ion-col>
            <ion-col size="5" class="ion-text-right">
              <ion-button fill="clear" size="small" (click)="editEvent(event)">
                <ion-icon slot="icon-only" color="light" name="create"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" (click)="deleteEvent(event)">
                <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content class="ion-padding" (click)="onEventSelected(event)">
          {{event.desc}}
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="selectedDate?.events.length==0">
        <ion-card-header color="light">
          <ion-card-title>
            {{noEventsLabel}}
          </ion-card-title>
        </ion-card-header>

      </ion-card>

    </ion-list>
  </ng-template>
</ion-content>